[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/arboy/Desktop/test]
row=6
col=1

[/home/arboy/Desktop/hello.sh]
row=3
col=1

[/home/arboy/Desktop/Dicord-bot]
row=4
col=1

[/home/arboy/Desktop/sway.svg]
row=8
col=0

[/home/arboy/Desktop/sway10.svg]
row=3
col=0

[/home/arboy/Desktop/dotfiles]
row=1
col=0

[/home/arboy/Desktop/sway9.svg]
row=4
col=0

[/home/arboy/Desktop/sway3.svg]
row=7
col=0

[/home/arboy/Desktop/killme]
row=2
col=2

[/home/arboy/Desktop/sway6.svg]
row=7
col=2

[/home/arboy/Desktop/test.sh]
row=7
col=1

[/home/arboy/Desktop/python-testing]
row=5
col=2

[/home/arboy/Desktop/rtl8723DU_WiFi_linux_v5.6.5_31829.20190103_COEX20181130-2e2e.tar.gz]
row=2
col=1

[/home/arboy/Desktop/sway2.svg]
row=1
col=1

[/home/arboy/Desktop/sway5.svg]
row=2
col=0

[/home/arboy/Desktop/sway8.svg]
row=5
col=1

[/home/arboy/Desktop/dotfiles-sway]
row=5
col=0

[/home/arboy/Desktop/alacritty_color_schemes.yml]
row=4
col=2

[/home/arboy/Desktop/sway.png]
row=1
col=2

[/home/arboy/Desktop/old_zsh_history.txt]
row=0
col=2

[/home/arboy/Desktop/waybar]
row=3
col=2

[/home/arboy/Desktop/sway]
row=0
col=0

[/home/arboy/Desktop/wifi_drivers]
row=6
col=2

[/home/arboy/Desktop/sway4.svg]
row=6
col=0

[/home/arboy/Desktop/sway7.svg]
row=8
col=1

[/home/arboy/Desktop/Linux_BT_USB_v3.10_20180725_8723DU_BTCOEX_20180125-2323.tgz]
row=0
col=1

